<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Bloodraven Page</title>
    </head>
    <body> <!-- Body Start -->
        <div class="Main-Block"> <!-- Main Block top: Welcome to Bloodraven Queendom -->
            <div class="Title">
                <h2>💄 Welcome to Bloodraven Queendom 🎼</h2>
                <ul></ul>
            </div>
        </div>
        <div class="Background-Block"> <!-- Page body background white block -->
            <div class="Nerissa"> <!-- Nerissa image and text -->
                <a href="/nerissa">
                    <img src="/static/images/Nerissa.png" alt="" class="Nerissa-Pic">
                </a>
                <h3>Nerissa Ravencroft</h3>
                <ul></ul>
            </div>
            <div class="ERB"> <!-- ERB image and text -->
                <a href="/erb">
                    <img src="/static/images/ERB.png" alt="" class="ERB-Pic">
                </a>
                <h3>Elizabeth Rose Bloodflame</h3>
                <ul></ul>
            </div>
            <div class="Socials"> <!-- Socials -->
                <div class="Socials-ERB"> <!-- ERB's Socials -->
                    <div class="Social-Icon">
                        <a href="https://x.com/ERBloodflame">
                            <img src="/static/images/TwitterERB.png" alt="" class="TwitterERB">
                            <h1>Twitter</h1>
                            <ul></ul>
                        </a>
                    </div>
                    <div class="Social-Icon">
                        <a href="https://www.youtube.com/@holoen_erbloodflame">
                            <img src="/static/images/YouTubeERB.png" alt="" class="YouTubeERB">
                            <h1>YouTube</h1>
                            <ul></ul>
                        </a>
                    </div>
                </div>
                <div class="Socials-Nerissa"> <!-- Nerissa's Socials -->
                    <div class="Social-Icon">
                        <a href="https://x.com/nerissa_en">
                            <img src="/static/images/TwitterNerissa.png" alt="" class="TwitterNerissa">
                            <h1>Twitter</h1>
                            <ul></ul>
                        </a>
                    </div>
                    <div class="Social-Icon">
                        <a href="https://www.youtube.com/@NerissaRavencroft">
                            <img src="/static/images/YouTubeNerissa.png" alt="" class="YouTubeNerissa">
                            <h1>YouTube</h1>
                            <ul></ul>
                        </a>
                    </div>
                </div>
                <div class="Information"> <!-- Information about Bloodraven -->
                    <div class="Subtitle-Text1"> <!--General Summary of the ship -->
                        <p>"Bloodraven" - A name that reflects power and elegance.</p>
                    </div>
                    <div class="Info-Text">
                        <p>Bloodraven can be traced to various interactions between Hololive's Talents 《Nerissa Ravencroft》 and 《Elizabeth Rose Bloodflame》.
                            Joint appearances and interactions during streams have showcased their dynamic, with Elizabeth's disciplined demeanor playing off 
                            Nerissa's more enigmatic presence.</p>
                            
                            <p>The community has produced a plethora of artwork and humorous content celebrating their bond
                            further solidifying the ship's popularity. Their interactions often play on the "opposites attract" trope.</p>

                            <p>The Bloodraven ship has garnered a dedicated following within the Hololive fandom. Fans appreciate the depth and complexity of their
                            relationship, often discussing and analyzing their interactions across various platforms. The ship's popularity is a testament to the
                            compelling narratives and character development fostered by Hololive's talents.</p>

                            <p>Symbolically, Bloodraven represents love found in hardship — a queen's unwavering strength meeting a songstress's haunting tenderness.
                                The ship has inspired fanfics, art, and lore across the Hololive fandom, celebrated for its emotional depth and striking aesthetic contrast.</p>
                    </div>
                    <div class="Image-Art"> <!-- Image art - 1 -->
                        <a href="https://x.com/paw_chie/status/1858974367163863140">
                            <img src="/static/images/paw_chie.jpg" alt="" class="paw_chie">
                            <h1>© paw_chie on Twitter</h1>
                        </a>
                    </div>
                    <div class="Subtitle-Text2"> <!-- Characteristics -->
                        <p>Characteristics of the Ship</p>
                    </div>
                    <div class="InfoChar">
                        <p>🌹 Contrasting Themes</p>
                        <p>➤ Elizabeth: Order, strength, fire, leadership.</p>
                        <p>➤ Nerissa: Emotion, freedom, shadow, song.</p> 
                        <p>➤ Their ship thrives on the contrast between duty and passion, creating 
                            a natural tension and deep chemistry.</p>
                    </div>
                    <div class="InfoChar2">
                        <p>Bloodraven embodies a powerful contrast of fire and shadow, strength and emotion.
                            Through slow-burning trust, unspoken loyalty, and mutual healing, 
                            Elizabeth and Nerissa create a bond that is as beautiful as it is unbreakable — 
                            a love story written in battle and song.</p>
                    </div>
                    <div class="InfoChar3">
                        <p>✨Protective Instincts</p>
                        <p>➤ Elizabeth's fierce, knightly nature drives her to shield Nerissa from any harm.</p>                     
                        <p>➤ Nerissa, though softer, would fight with her heart and soul to defend Elizabeth emotionally.</p>
                    </div>
                    <div class="Image-Art2"> <!-- Image art - 2 -->
                        <a href="https://x.com/Keiseeaaa/status/1862207724446257412">
                            <img src="/static/images/keiseeaaa.jpg" alt="Keisea">
                            <h1>© Keiseeaaa on Twitter</h1>
                        </a>
                    </div>
                    <div class="Subtitle-Text3"> <!-- Fun Facts -->
                        <p>Fun facts</p>
                    </div>
                    <div class="Info-Text3">
                        <p></p>
                    </div>
                    <div class="Image-Art3"> <!-- Image art - 3 -->
                        <a href="https://x.com/nojamseo/status/1884103637187866805/photo/1">
                            <img src="/static/images/NoJamSeo.jpg" alt="" class="NoJamSeo">
                            <h1>© NoJamSeo on Twitter</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/main.js"></script> <!-- JavaScript codes in case I need to add something -->
    </body>
    <h6>© 2016 COVER Corp. | © 2025 mofumashu </h6>
    <ul></ul>
</html>