<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/nerissastyle.css">
        <title>Nerissa Ravencroft</title>
    </head>
    <body> <!-- Body Start -->
        <div class="Main-Block"> <!-- Main Block - Nerissa Ravencroft -->
            <div class="Title">
                <h2>Nerissa Ravencroft 🎼</h2>
                <u></u>
            </div>
        </div>
        <div class="Background-Block"> <!-- Page body background white block -->
            <div class="NerissaFullBody"><!-- Picture of Nerissa Ravencroft -->
                <img src="/static/images/NerissaFullBody.png" alt="" class="NerissaFB">
                <h1>Nerissa Ravencroft</h1>
            </div>
            <div class="NerissaInfo"> <!--Nerissa Info -->
            </div>
        </div>
    </body>
</html>