<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/nerissastyle.css">
        <title>Nerissa Ravencroft</title>
    </head>
    <body> <!-- Body Start -->
        <div class="Main-Block"> <!-- Main Block - Nerissa Ravencroft -->
            <div class="Title">
                <h2>Nerissa Ravencroft 🎼</h2>
                <u></u>
            </div>
        </div>
        <div class="Background-Block"> <!-- Page body background white block -->
            <div class="NerissaFullBody"><!-- Picture of Nerissa Ravencroft -->
                <img src="/static/images/NerissaFullBody.png" alt="" class="NerissaFB">
                <h1>Nerissa Ravencroft</h1>
            </div>
            <div class="NerissaInfo"> <!--Nerissa Info -->
                <h1>Age:</h1> <p class="Age">11,000 probably...</p>
                <h1>Height:</h1> <p class="Height">175 cm (5'9")</p>
                <h1>Birthday:</h1> <p class="Bday">21 November</p>
                <h1>Fan Name:</h1> <p class="FanName">Jailbirds</p>
                <h1>Nicknames:</h1> <p class="Nicknames"> The Demon of Sound, Rissa, Neri, The Demon of Soup, Nori-chan (by Kobo Kanaeru), 
                    Nerizzler (by Koseki Bijou), Nessie (by Baelz and Mumei), NR-Raven</p>
            </div>
            <div class="Subtitle-Text1">
                <p>Biography</p>
            </div>
        </div>
    </body>
</html>